<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Web Suite" preserve-order="true" parallel="false" thread-count="2">

    <test name="firefox">
        <classes>
            <class name="tests.Case1Web">
            </class>
           </classes>
       </test>
   </suite>
